
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,400&family=Quicksand:wght@300;400;500;700&display=swap');

:root{
    --BLACK: #1b1722;
    --WHITE: #F0F0F0;
    --BOx-SHADOW:0PX 4PX 4PX RGBA(0,0,0,0,25);
}*{
    font-family: QUICKSAND,sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2S linear;
    flex-wrap: wrap;
}HTML{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7REM;
    scroll-behavior: smooth;

}html::-webkit-scrollbar{
    width: .8rem;

}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--WHITE);
    border-radius: 5rem;

}.header{
    top: 0;right: 0;
    left: 0;
    background-color: var(--WHITE);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;

}.header .logocontent{
    display: flex;
    align-items: center;
    


}.header .logocontent .logoimg{
    height: 5rem;
}
.header .logocontent .logoname{
    color: var(--BLACK);
    font-size: 2.5rem;
    font-weight: bolder;
}
.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--BLACK);
    font-weight: bold;

}.header .navbar a:hover{
    border-bottom: .1rem solid var(--BLACK);
    padding-bottom: 4rem;
    color: red;
    


}.header .navbar ul{
    list-style: none;
    display: flex;
}
.header .icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--BLACK);
    cursor: pointer;
}.header .search{
    top: 100%;
    margin: -6.5rem 85%;
    background-color: transparent;
    width: 50%;
    height: 5rem;
    position: absolute;
}.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--WHITE);
    color: var(--BLACK);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--BOx-SHADOW);
}.header .search .active{
    display: inline block;
}
#menu-bar{
    display: none;



}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://ilovethisshop.com.au/wp-content/uploads/slider12/bg-5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background: -moz-linear-gradient(50 250 50);
    text-align: center;
}.home .homecontent{
    width: 50%;
    float: left;

}.home .homecontent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--BLACK);
    text-shadow: var(--BOx-SHADOW);
    text-align: center;
}.home .homecontent p{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}.home .homecontent .home-btn{
    height: 3rem;
}
.home .homecontent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--BLACK);
    color: var(--WHITE);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}.home .homecontent .home-btn button:hover{
    font-size: 2rem;
}.product-section{
    padding: 2rem 7%;
}.heading{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--BLACK);
}
.product-section .product-row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;

}.product-row .box{
    display: flex;
    flex-direction: column;
    background-color: var(--WHITE);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.8rem;
    width: 33%;
    justify-content: space-evenly;
    
}.product-row .box .img img{
width: 100%;
height: 100%;
}.product-row .box .img img:hover{
    transform: scale(1.1);
}.product-section .product-row .content{
    margin-bottom: 4rem;

}.product-section .product-row .content h3 {
    font-size: 4rem;
    color: var(--BLACK);
}.product-section .product-row .content p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--BLACK);
}.product-section .product-row .content .ordernow{
    height: 3rem;
    margin-top: 2rem;
}.product-section .product-row .content .ordernow button{
    font-size: 1.8rem;
    background-color: var(--BLACK);
    color: var(--WHITE);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}.product-section .product-row .content .ordernow button:hover{
    font-size: 2rem;
}
.swiper-wrapper{
    display: flex;
    margin-bottom: 2rem;
    gap: 5px;
    
}


















/* media querries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
.home .homecontent{
    width: 80%;
    margin-left: 0;

}
}
@media(max-width:768px) {
    #menu-bar
    { display: inline-block;

    }
    .header.navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 25rem;
        background-color: var(--WHITE);
        color: var(--BLACK);
        height: 80vh;


    }.header .navbar a{
        display: block;
        font-size: 2rem;
        color: var(--BLACK);
        margin: 1.5rem;
    }
}
@media (max-width:600px) {
   html {font-size: 50%;


    }
}

