*{
    margin: 0;
    padding: 0;
}
BODY{
    background-color: RGB(0,0,33);
    color: white;
    font-family: 'POPPINS',sans-serif;
}
NAV{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: RGB(18,18,62);
    
}
NAV UL{
    display: flex;
    justify-content: center;
}
NAV UL LI{
    list-style: none;
    margin: 0 23px;

}NAV UL LI a{
    text-decoration: none;
    color: white;
}NAV UL LI>a:hover{
    
    
    color:rgb(86, 86, 158) ;
    font-size: 1.04rem;
}
.LEFT{
    font-size: 1.5rem;
}.FIRSTSECTION{
    display: flex;
    justify-content: space-around;
    margin:80PX 0 ;
    align-items: center;
}.FIRSTSECTION > div{
    width: 30%;
    display: inline;
    
    
}
.LEFTSECTION{
    font-size: 3rem;
    text-align: center;
    
    
    
}.RIGHTSECTION img{
width: 80%;
margin: 50PX 0;
}.PURPLE{
    color: rgb(170, 107, 228);
}#element{
    color: rgb(170, 107, 228);
}.secondsec{
    max-width: 80vw;
    margin: auto;
    margin-top: 20px;
    height: 80vh;
}.secondsec h1{
    font-size: 1.9rem;
}.secondsec .box{
    background: white;
    width: 77VW;
    height: 2PX;
    margin: 56PX 0;
    display: flex;
    
}.secondsec .vertical{
    height: 93PX;
    width: 1px;
    background-color: white;
    margin: 0 140px;
    
}.image-top{
    width: 23px;
    position: relative;
    top: -48px;
    left: -9px;
}
.vertical-title{
position: relative;
top: 75px;
width: 150px;
margin-bottom: -40px;

}
.vertical-desc{
    position:  relative;
    top: 85px;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
}footer{
    background-color: rgb(26, 26, 128);
}.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}ul{
    list-style: none;
}
/* .leftsection.btn{
    display: block;
    align-items: center;
    margin-top: 20px;
    position: relative;
} */
